<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= NAME %> dashboard</title>
    </head>
    <body>
        <p>Login Successful. This is student dashboard.</p>
        <h1>Welcome <%= NAME %></h1>
        <p>Your User ID is <%= ID %></p>
        <p>Role: <%= ROLE %></p>
        <a href=<%= "/view-student-submission/" + ID.toString() %> >View your submissions</a>
        <% for(let index = 0; index < IDarray.length; index++) { %>
            <hr>
            <h3>Assignment ID: <%= IDarray[index] %> </h3>
            <h3>Title: <%= title[index] %></h3>
            <p>Description: <%= description[index] %></p>
            <h4>Due Date: <%= dueDate[index] %></h4>
            <a href=<%= "/submit-assignment/" + IDarray[index].toString() %> >Submit Assignment <%= IDarray[index] %></a>
        <% } %>
    </body>
</html>